@tailwind base;
  @tailwind components;
  @tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 204 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 220 7% 8%;
    --foreground: 180 9% 98%;

    --card: 220 7% 8%;
    --card-foreground: 180 9% 98%;

    --popover: 220 7% 8%;
    --popover-foreground: 180 9% 98%;

    --primary: 213 75% 40%;
    --primary-foreground: 180 9% 98%;

    --secondary: 220 7% 16%;
    --secondary-foreground: 180 9% 98%;

    --muted: 210 8% 24%;
    --muted-foreground: 213 8% 49%;

    --accent: 213 73% 16%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 8% 12%;
    --input: 210 9% 18%;
    --ring: 213 75% 40%;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background: #f0d400;
  transform-origin: 0%;
}

